
<ifmodule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^.]+)$ index.php?_url=/$1&format=json [QSA,L]
    RewriteRule ^([^.]+)\.(\w+)$ index.php?_url=/$1&format=$2 [QSA,L]
</ifmodule>